<div class="public_header">
    <div class="public_header_leftMenu">
        <img  src="image/header/headerbar-back.png">
    </div>
    <div class="public_header_rightMenu" data-toggle="modal" data-target="#myModal">
        <img src="image/header/headerbar-close.png">
    </div>
    <h1>法官台本</h1>
</div>
<!-- 模态框（Modal） -->
<modal></modal>
<div class="public_body_days" >
    <ul class="days-wrap" id="days-wrap">
        <li  ng-repeat="daysView in vm.days track by $index">
            <div class="day-wrap">
                <div class="day-top" ng-click="$last=!$last">第<span ng-bind="daysView.day|daysNumFilter"></span>天</div>
                <!--<div class="day-content" ng-show="vm.closeDaysContent.autoCloseContent($index,vm.days.length-1)">-->
                <div class="day-content" ng-show="$last">
                    <div class="day-content-wrap">
                        <!--黑夜/白天-->
                        <div class="day-content-{{vm.version.time[0]}}">
                            <!--引导弹框-->
                            <div class="guideFrame" ng-class="{'guideFrameClickOver':(vm.guideHitCount[daysView.day-1].guideHit[guide1].hitCount!=0)}" ng-repeat="guide1 in vm.version.daysGuide[0] track by $index" ng-click="vm.canJumpPage(guide1,0,$index,daysView.day)">
                                <!--导引框小三角-->
                                <div class="trigon" ng-class="{'trigonClickOver':(vm.guideHitCount[daysView.day-1].guideHit[guide1].hitCount!=0)}"></div>
                                <!--导引框文字-->
                                {{vm.version.CN.daysGuide[guide1]}}
                            </div>
                        </div>
                        <!--黑夜白天LOG-->
                        <div ng-repeat="log in vm.days[$index].time[vm.version.time[0]] track by $index">
                            <p class="gameLog">
                                {{log.death}}号被{{vm.version.CN.role[log.killer]}}{{vm.version.CN.word[log.deathType]}}了，真实身份是{{vm.version.CN.role[log.deathRole]}}
                            </p>
                        </div>
                        <!--白天黑夜-->
                        <div class="day-content-{{vm.version.time[1]}}">
                            <div class="guideFrame" ng-class="{'guideFrameClickOver':(vm.guideHitCount[daysView.day-1].guideHit[guide2].hitCount!=0)}" ng-repeat="guide2 in vm.version.daysGuide[1]  track by $index" ng-click="vm.canJumpPage(guide2,1,$index,daysView.day)">
                                <!--导引框小三角-->
                                <div class="trigon" ng-class="{'trigonClickOver':(vm.guideHitCount[daysView.day-1].guideHit[guide2].hitCount!=0)}"></div>
                                <!--导引框文字-->
                                {{vm.version.CN.daysGuide[guide2]}}
                            </div>
                        </div>
                        <!--白天黑夜LOG-->
                        <div ng-repeat="log in vm.days[$index].time[vm.version.time[1]]">
                            <p class="gameLog">{{log.death}}号被{{vm.version.CN.role[log.killer]}}{{vm.version.CN.word[log.deathType]}}了，真是身份是{{vm.version.CN.role[log.deathRole]}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <!--<button id="buttonLog" class="jndgeLog" ui-sref="judgeLog({versionId:vm.versionId})">Log</button>-->
    <div class="footer-days">
        <button class="footer-button-days footer-button-days-left" ui-sref="gameOver({versionId:vm.versionId})">结束游戏</button>
        <button class="footer-button-days footer-button-days-right" ui-sref="judgeLog({versionId:vm.versionId})">查看Log</button>
    </div>
</div>
