<div class="public_header" id="header">
    <div class="public_header_leftMenu">
        <img class="public_header_leftImg" src="image/header/logHeaderLeft.png" alt="">
    </div>
    <!-- 这里可以自己天加一个指令来动态控制 -->
    <div class="public_header_rightMenu">
        <img class="public_header_leftImg" src="image/header/headerbar-doubt.png" alt="">
    </div>
</div>
<div class="public_body public_body_bg">
    <div class="public_playerSet_wrap">
        <div class="playerSet_match">
            <div class='playerHeading'>
                <p>玩家配比</p>
            </div>
            <div class="playerMatch_view" >
                <div class="playerMatch-player" ng-repeat="playerName in vm.versionList.role">
                    <div class="playerMatch-img">
                        <img src="image/werewolf-{{vm.versionList.img[$index]}}.png" alt="">
                    </div>
                    <p  class="playerMatch-playerName">{{vm.versionList.CN.role[playerName]}} <span class="playerMatch-playerNumber"> {{vm.versionList.playerNum[vm.versionList.playerNumDefault][$index]}}</span>&ensp;人</p>
                </div>

            </div>
        </div>
    </div>
    <div  class="public_playerSet_wrap">
        <div class="playerSet_word" ng-show="vm.versionList.inputCard">
            <label for="playerPeople-word" class="player-word">
                 水民词组：
                <input type="text" ng-model="vm.showWaterWord" id="playerPeople-word" class="playerPeople-word">
            </label>
            <label for="playerSpirit-word" class="player-word">
               幽灵词组：
                <input type="text" ng-model="vm.showSpiritWord" id="playerSpirit-word" class="playerPeople-word">
            </label>
        </div>
        <div class="playerSet_word">
            <label for="playNum">
                <p class="playNumPrompt">请输入玩家数量</p>
                <input type="text" id="playNum" class="playNum" ng-model="vm.versionList.playerNumDefault">
                <span class="playNumPrompt-span">玩家数量为{{vm.versionList.numMin}}-{{vm.versionList.numMax}}</span>
            </label>

        </div>
        <div class="playerSet_Button" id="footer">
            <button ng-click="vm.playerAllot()">去发牌</button>
        </div>
    </div>
</div>
<script src="js/setWidth.js"></script>